.pokemon-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: var(--card);
    padding: 5px 0;
    box-shadow: 4px 4px 4px #00000050;
    cursor: pointer;
    transition: 0.3s;
}

.pokemon-card:hover{
    transform: scale(1.01);
    box-shadow: 0 0 15px 0 #21212170;
}

.pokemon-img{
    width: 150px;
    height: 150px;
    margin: 5px 0;
}

.pokemon-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #454a54;
    color: #eee;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 10px;
    width: 60%;
    text-transform: capitalize;
}

@media screen and (max-width: 400px) {

    .pokemon-title{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #454a54;
        color: #eee;
        font-weight: 600;
        padding: 4px 8px;
        border-radius: 10px;
        width: 80%;
        text-transform: capitalize;
    }
}